.food-table {
  th {
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    padding: 10px;
  }

  td {
    text-align: center;
    padding: 10px;
  }

  .food-content {
    font-size: 16px;
    color: black;
  }

  .img-manageFood {
    max-width: 100px;
    height: auto;
  }
}

.admin-right {
  width: 100%;
}

.list-food {
  padding-top: 100px;
}

.add-dish {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  .dialog-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3e8e41;
    }
  }
}

.trash-dish {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  .trash-dish-btn {
    background-color:red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(140, 9, 9);
    }
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    opacity: 1;
    visibility: visible;

    .list-food {
      padding-top: 100px;

      text-align: center;

    }

    .dialog-body {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 1;
      width: 500px;

      h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .form-group {
        margin-bottom: 20px;

        .text-lable {
          color: black;
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          font-size: 16px;
        }

        input[type="text"],
        select {
          width: 100%;

          border-radius: 5px;
          border: 1px solid #ccc;
          font-size: 16px;
        }
      }

      .btn-primary {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        margin-top: 20px;

        &:hover {
          background-color: #3e8e41;
        }
      }

      .dialog-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #aaa;
        transition: color 0.3s ease;
        cursor: pointer;

        &:hover {
          color: #555;
        }
      }
    }

    .overlay-close {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

.food-table {
  width: 100%;

}

.food-header {
  color: black;

}


.preview-image {
  width: 30%;
}